@import "../../../utils/theme";

body.light-mode #portfolio .portfolio-grid {
  > div {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(113, 167, 178, 0.2);

    ul.project-links li a {
      color: black !important;
      &:hover {
        color: $color-secondary !important;
      }
    }
  }
}

body.dark-mode #portfolio .portfolio-grid {
  > div {
    background-color: rgb(25, 25, 25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

    ul.project-links li a {
      color: white !important;
      &:hover {
        color: $color-secondary !important;
      }
    }
  }
}

#portfolio .portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;

  ul.project-tags li {
    color: $color-primary;
  }
}

@media ($breakpoint-tablet) {
  #portfolio .portfolio-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media ($breakpoint-phone) {
  #portfolio .portfolio-grid {
    grid-template-columns: 1fr;

    ul.project-links li:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}
