@import "../../../utils/theme";

body.light-mode #portfolio .portfolio-grid {
  > div {
    background-color: white;

    ul.project-links li a {
      color: black !important;
      &:hover {
        color: $color-secondary !important;
      }
    }

    ul.project-tags li {
      color: $color-primary;
    }
  }
}

body.dark-mode #portfolio .portfolio-grid {
  > div {
    background-color: black;

    ul.project-links li a {
      color: white !important;
      &:hover {
        color: $color-secondary !important;
      }
    }

    ul.project-tags li {
      color: $color-secondary;
    }
  }
}

#portfolio .portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

@media ($breakpoint-tablet) {
  #portfolio .portfolio-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media ($breakpoint-phone) {
  #portfolio .portfolio-grid {
    grid-template-columns: 1fr;

    ul.project-links li:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}
