section
    padding: 2em 0
    [class*="col-"]
        &:first-child
            padding-left: 0
        &:last-child
            padding-right: 0
        @include media-breakpoint-down(md)
            padding: 0
            &:not(:last-child)
                margin-bottom: 2em
    h3
        font-size: 30px
        counter-increment: item 1
        &:before
            content: '0' counter(item) '.'
            color: $redColor
            margin-right: 1em
            font-family: $font-mono
            font-weight: normal
            font-size: 0.7em
    p
        font-size: 20px
    h4
        font-size: 24px
    ul
        list-style: none
        padding: 0
        li
            font-family: $font-mono
            font-size: 14px
            &:before
                content: '\26AC'
                color: $orangeColor
                margin-right: 1em
    .education
        span, a
            font-family: $font-mono
            font-size: 14px
        a
            text-decoration: none
            color: $redColor
        &:not(:last-child)
            margin-bottom: 2em
    .language
        p
            font-family: $font-mono
            font-size: 14px
        span
            font-size: 20px
            margin: -5px 5px 0 0
        &:not(:last-child)
            margin-bottom: 2em