section
    padding: 1em 0
    [class*="col-"]
        &:first-child
            padding-left: 0
        &:last-child
            padding-right: 0
        @include media-breakpoint-down(md)
            padding: 0
            &:not(:last-child)
                margin-bottom: 2em
    .heading
        font-size: 30px
        margin-bottom: 1.2em
        span
            color: $redColor
            margin-right: 1em
            font-family: $font-mono
            font-weight: normal
            font-size: 0.7em
    p
        font-size: 20px
    h4
        font-size: 24px
    li
        font-family: $font-mono
        font-size: 14px
        &:before
            content: '\26AC'
            color: $orangeColor
            margin-right: 1em
    .education
        span, a
            font-family: $font-mono
            font-size: 14px
        a:before
            content: '@ '
        &:not(:last-child)
            margin-bottom: 2em
    .language
        p
            font-family: $font-mono
            font-size: 14px
        span
            font-size: 20px
            margin: -5px 5px 0 0
        &:not(:last-child)
            margin-bottom: 2em

#about
    ul:not(:last-child)
        margin-right: 2em

#experience
    .card-list
        margin-left: 0.6em
        padding-left: 3.8em
        border-left: thick solid $orangeColor
    .card-item
        &::before
            content: ''
            position: absolute
            width: 25px
            height: 25px
            background-color: white
            border: 3px solid $orangeColor
            margin-top: 0.5em
            margin-left: -4.7em
            border-radius: 50%
            z-index: 1
            color: $orangeColor
        .card
            border: none
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1)
            .card-header
                font-family: $font-mono
                font-size: 14px
                border: none
            a:before
                content: ' @ '
            li:not(:last-child)
                margin-bottom: 0.4em
        &:not(:last-child)
            margin-bottom: 3em

#projects
    .card
        border: none
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1)
        padding: 1em 1em 0 1em
        height: 100%
        .card-text
            font-size: 17px
            flex-grow: 1
        .card-header
            font-family: $font-mono
            font-size: 25px
            border: none
            background: none
            display: flex
            justify-content: flex-end
        .card-body
            padding-top: 0
            display: flex
            flex-direction: column
        ul
            display: flex
            align-items: center
        li
            font-size: 14px
            &:before
                content: ''
                margin: 0
            &:not(:last-child)
                margin-right: 1em
        .tags li
            font-size: 12px
            color: $orangeColor
        &:not(:last-child)
            margin-bottom: 2em