/* Timeline Styles */
.timeline .card-list {
  margin-left: 0.6em;
  padding-left: 3em;
  border-left: 1px solid #d6d3d0;
}

.timeline .card-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeline .card-item span {
  margin-top: 0.2em;
  font-size: 0.9em;
}

.timeline .card-item .description {
  margin-top: 0.2em;
  margin-bottom: 0;
}

.timeline .card-item::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: var(--color-primary);
  margin-left: -3.74em;
  border-radius: 50%;
  z-index: 1;
}

.timeline .card-item:not(:last-child) {
  margin-bottom: 2em;
}

.timeline .card-item .section {
  font-weight: 600;
}

.timeline .card-item .section:not(:first-child) {
  margin-top: 0.8em;
}

.timeline .card-header {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.1em;
}

.timeline .card-header a::before {
  content: " @ ";
}

@media (max-width: 767.98px) {
  .timeline .card-list {
    padding-left: 2.8em;
  }

  .timeline .card-item::before {
    margin-left: -3.7em;
  }
}
