/* Dark Mode Toggle Styles */
#toggle-container {
  display: flex;
  transform: scale(0.8);
  margin-left: 2em;
}

#toggle-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 50px;
  height: 26px;
  margin: 0;
  background-color: #71a7b2;
  border-radius: 90px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#toggle .star {
  position: absolute;
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

#toggle .star-1 {
  top: 6px;
  left: 24px;
  width: 13px;
  height: 2px;
}

#toggle .star-2 {
  top: 13px;
  left: 27px;
  width: 20px;
  height: 2px;
}

#toggle .star-3 {
  top: 20px;
  left: 24px;
  width: 15px;
  height: 2px;
}

#toggle .star-4,
#toggle .star-5,
#toggle .star-6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#toggle .star-4 {
  top: 6px;
  left: 13px;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

#toggle .star-5 {
  top: 13px;
  left: 7px;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}

#toggle .star-6 {
  top: 12px;
  left: 17px;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

#sun {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(255, 197, 89, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

#sun .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

#sun .crater-1 {
  top: 14px;
  left: 9px;
  width: 2px;
  height: 3px;
}

#sun .crater-2 {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
}

#sun .crater-3 {
  top: 7px;
  left: 14px;
  width: 3px;
  height: 3px;
}

/* Checked State */
#toggle-container input:checked + #toggle {
  background-color: #141852;
}

#toggle-container input:checked + #toggle #sun {
  background-color: #ffe5b5;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.3);
  transform: translate3d(24px, 0, 0) rotate(0);
}

#toggle-container input:checked + #toggle #sun .crater {
  opacity: 1;
}

#toggle-container input:checked + #toggle .star-1 {
  width: 1px;
  height: 1px;
}

#toggle-container input:checked + #toggle .star-2 {
  width: 2px;
  height: 2px;
  transform: translate3d(-5px, 0, 0);
}

#toggle-container input:checked + #toggle .star-3 {
  width: 1px;
  height: 1px;
  transform: translate3d(-7px, 0, 0);
}

#toggle-container input:checked + #toggle .star-4,
#toggle-container input:checked + #toggle .star-5,
#toggle-container input:checked + #toggle .star-6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#toggle-container input:checked + #toggle .star-4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#toggle-container input:checked + #toggle .star-5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#toggle-container input:checked + #toggle .star-6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
