@import "../../utils/theme";

body.light-mode {
  header[scroll="true"] {
    background: $color-light;
  }

  header .navbar-brand {
    color: black;
  }

  header #burger {
    *,
    .burger-lines::after,
    .burger-lines::before {
      background-color: $color-primary;
    }
  }

  header .menu {
    background-color: $color-light;
  }

  header nav .nav-item button {
    color: black !important;

    &::after {
      background-color: black;
    }
  }
}

body.dark-mode {
  header[scroll="true"] {
    background: $color-dark;
  }

  header .navbar-brand {
    color: white;
  }

  header #burger {
    *,
    .burger-lines::after,
    .burger-lines::before {
      background-color: white;
    }
  }

  header .menu {
    background-color: $color-dark;
  }

  header nav .nav-item button {
    color: white !important;

    &::after {
      background-color: white;
    }
  }
}

header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 8em !important;

  &[scroll="true"] {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }
}

header .navbar-brand {
  padding: 0 !important;
  margin: 0 !important;
  font-family: $font-playfair;
  font-weight: 900;
  transition: $transition;

  &::after {
    content: ".";
    color: $color-primary;
  }

  @media ($breakpoint-phone) {
    font-size: 4em;
  }
}

header nav {
  display: flex;

  .nav-item button {
    border: none;
    outline: none;
    background: none;
    font-family: $font-raleway;
    font-size: 1em;
    padding: 0 !important;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      width: 0;
      height: 3px;
      left: 0;
      transition: all 0.2s ease-in-out;
      transition-duration: 0.75s;
      opacity: 0;
    }

    &:hover:after {
      width: 100%;
      opacity: 1;
    }
  }
}

@media ($breakpoint-tablet) {
  header {
    padding: 1em 2em !important;
  }

  header .desktop-menu nav .nav-item {
    margin-left: 2em;
  }
}
