@import "../../utils/theme";

body.light-mode {
  header.scroll {
    background: $color-light;
  }

  header .navbar-brand {
    color: black;
    &::after {
      color: $color-primary;
    }
  }

  header .navbar-nav a.nav-item {
    color: black !important;

    &::after {
      background-color: black;
    }
  }

  @media ($breakpoint-tablet) {
    header {
      background-color: $color-light;
    }
  }
}

body.dark-mode {
  header.scroll {
    background: $color-dark;
  }

  header .navbar-brand {
    color: white;
    &::after {
      color: $color-secondary;
    }
  }

  header .navbar-nav a.nav-item {
    color: white !important;

    &::after {
      background-color: white;
    }
  }

  @media ($breakpoint-tablet) {
    header {
      background-color: $color-dark;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 8em !important;

  &.scroll {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }

  .navbar-toggler,
  .navbar-toggler:focus {
    border: none;
    outline: none;
  }
}

header .navbar-brand {
  padding: 0 !important;
  margin: 0 !important;
  font-family: $font-playfair;
  font-weight: 900;
  font-size: 6em;
  transition: $transition;

  &.scroll {
    font-size: 3em;
  }

  &::after {
    content: ".";
  }

  @media ($breakpoint-phone) {
    font-size: 4em;
  }
}

header .navbar-collapse {
  display: flex;
  padding-bottom: 2em;

  &.scroll {
    padding-bottom: 0 !important;
  }
}

header .navbar-nav {
  display: flex;
  transition: $transition;

  a.nav-item {
    font-family: $font-raleway;
    text-transform: uppercase;
    margin-left: 3em;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      width: 0;
      height: 3px;
      left: 0;
      transition: all 0.2s ease-in-out;
      transition-duration: 0.75s;
      opacity: 0;
    }

    &:hover:after {
      width: 100%;
      opacity: 1;
    }
  }
}

@media ($breakpoint-tablet) {
  header {
    padding: 1em 2em !important;

    .navbar-nav {
      padding-bottom: 0.5em !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .navbar-collapse {
      height: 100vh;
      transition: none;
    }

    #toggle-container {
      margin-left: 0;
    }

    a.nav-item {
      margin: 0 !important;
      font-size: 0.9em !important;

      &:before {
        font-size: 0.8em !important;
      }
    }
  }
}
