@import "../../../utils/theme";

#about {
  h3 {
    margin-bottom: 1em;
  }

  .about-content {
    display: flex;
    width: 100%;
  }

  .about-details {
    padding-right: 4em;

    .description {
      margin-bottom: 3em;
      p:first-child {
        margin-top: 0;
      }
    }
  }

  .about-gallery {
    display: flex;
    width: 100%;

    .image {
      max-width: 60%;
      padding-left: 1em;

      &:first-child {
        margin-top: -8em;
        padding: 0 1em 0 0;
      }
    }

    img {
      height: auto;
      max-width: 100%;
    }
  }
}

#about .about-grid {
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 3em;
}

#about .education {
  &:not(:last-child) {
    margin-bottom: 2em;
  }

  a,
  span {
    font-family: $font-poppins;
  }

  h4 {
    margin: 0.2em 0 1em 0;
  }

  a:not(.ref):before {
    content: "@ ";
  }

  p {
    font-size: 1em;
  }
}

#about .language {
  .language-heading {
    display: flex;
    align-items: center;
  }
  h4 {
    margin: 0;
  }
  p {
    font-size: 1em;
    margin: 0;
  }

  span {
    font-size: 1.5em;
    margin-right: 0.3em;
  }

  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

@media ($breakpoint-tablet) and (orientation: portrait) {
  #about {
    .about-details {
      padding-right: 3em;
      max-width: 60%;
    }
    .about-gallery .image {
      max-width: 55%;
      padding-left: 0.5em;

      &:first-child {
        margin-top: -4em;
        padding: 0 0.5em 0 0;
      }
    }
  }
}

@media ($breakpoint-tablet) and (orientation: landscape) {
  #about {
    .about-details {
      padding-right: 3em;
    }
    .about-gallery .image {
      max-width: 55%;
      padding-left: 0.5em;

      &:first-child {
        margin-top: -4em;
        padding: 0 0.5em 0 0;
      }
    }
  }
}

@media ($breakpoint-phone) {
  #about {
    .about-details {
      padding-right: 0;
      min-width: 100%;
    }

    .about-grid {
      display: block;

      > :last-child {
        margin-top: 3em;
      }
    }

    .about-gallery {
      display: none;
    }
  }
}
