$font-playfair: "Playfair Display", serif;
$font-raleway: "Raleway", sans-serif;
$font-poppins: "Poppins", sans-serif;
$color-light: #f7f3f0;
$color-dark: #242424;
$color-primary: #c38352;
$color-secondary: #71a7b2;

$transition: all 0.4s ease-out;
$transition-mode: background-color 0.3s ease;

$breakpoint-phone: "max-width: 767.98px";
$breakpoint-tablet: "max-width: 1024px";
$breakpoint-desktop: "max-width: 1199.98px";