@import "../../utils/theme";

body.light-mode footer .social-media li a {
  color: black !important;
  &:hover {
    color: $color-secondary !important;
  }
}

body.dark-mode footer .social-media li a {
  color: white !important;
  &:hover {
    color: $color-secondary !important;
  }
}

footer {
  text-align: center;
  padding: 1.5em 0;

  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;

    li {
      font-size: 1.2em;
      transition: $transition;
      &:not(:last-child) {
        margin-right: 1em;
      }
      &:hover {
        transform: translateY(-3px);
      }
    }
  }
}
