@import "../../../utils/theme";

.timeline {
  .card-list {
    margin-left: 0.6em;
    padding-left: 3em;
    border-left: 1px solid #d6d3d0;
    @media ($breakpoint-phone) {
      padding-left: 2.8em;
    }
  }

  .card-item {
    display: flex;
    flex-direction: column !important;

    span {
      margin-top: 0.2em;
    }

    &::before {
      content: "";
      position: absolute;
      width: 23px;
      height: 23px;
      background-color: $color-primary;
      margin-left: -3.74em;
      border-radius: 50%;
      z-index: 2;
      @media ($breakpoint-phone) {
        margin-left: -3.7em;
      }
    }

    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }

  .card-header {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.1em;

    a:before {
      content: " @ ";
    }
  }
}
