@import "../../utils/theme";

body.light-mode {
  .banner .social-media li a {
    color: black !important;
    &:hover {
      color: $color-secondary !important;
    }
  }
}

body.dark-mode {
  .banner .social-media li a {
    color: white !important;
    &:hover {
      color: $color-primary !important;
    }
  }
}

.banner {
  min-height: 100vh !important;
  padding-top: 160px;
  h1 {
    font-size: 5em;
    padding: 0 0 0.2em 0;
  }
  span {
    font-family: $font-raleway;
    font-size: 1.5em;
  }
  p {
    font-size: 1.25em;
    margin-bottom: 1.5em;
  }
}

.banner .banner-inner {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0;
  .content {
    padding-left: 2em;
  }
}

.banner .social-media {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  li {
    font-size: 1.6em;
    transition: $transition;
    &:not(:last-child) {
      margin-right: 1.2em;
    }
    &:hover {
      transform: translateY(-3px);
    }
  }
}

@media ($breakpoint-phone) {
  .banner {
    padding-top: 130px;
    .hero-inner .content {
      padding: 2em 1em 1em 1em;
    }
    img {
      max-width: 60%;
    }
    h1 {
      font-size: 3em;
    }
    span {
      font-size: 1.2em;
    }
    p {
      font-size: 1em;
    }
  }
}

.burger {
  font-size: 10px;
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
  background: $color-primary;
  height: 2.8px;
}
